@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"); // TODO

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #1a202d;
  color: white;
}

@import "utils/mixins";
@import "utils/vars";

@import "navbar";
@import "home";
